@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  font-family: "Open Sans";
}

html {
  height:100%;
  background-image: url('photos/woman.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.image_logo{
  width: 450px;
  height: 200px;
  margin-bottom: -100px;
  
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgb(92,76,124);
}

/* -------------------------------------------------------------------------------------------- */

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  background-color: rgba(255,255,255,0.13);
  margin: auto;
  border-radius: 20px;
  flex-wrap: wrap;
  padding-bottom: 50px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  
}
.size_heading{
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
}
.input_clear {
  background-color:rgba(255,255,255,0.13);
  font-family: "Open Sans";
  font-size: large;
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #01c3ff;
  border-radius: 4px;
}
.input_clear:focus {
  outline: none !important;
  font-family: "Open Sans";
  border: 2px solid #01c3ff;
  box-shadow: 0 1px #c0c5c8;
  color: #000000;
}
.button {
  cursor: pointer;
  width: 75%;
  border: 1px solid #2C698D;
  padding: 14px 30px;
  border-radius: 200px;
  color: #000000;
  background: #01c3ff;
  font-family: "Open Sans";
  font-size: 16px;
  transition: 200ms;
}

.button:hover {
      background: rgba(255,255,255,0.13);
      color: black;
}
.login_text{
  display: inline;
}

.error{
  font-size: smaller;
  color: red;
  width: 70% ;
  margin-top: -20px;
}

/* -------------------------------------------------------------------------------------------- */


